@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #FFFFFF; 
    --cor-secundaria: #000000;   
    --cor-terciaria: #4180ab;
    --cor-hover: #3ea3af; 

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat' sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho { 
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: #8ab3cf
    

}

.apresentacao {
    padding: 7% 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5.12rem;


}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction:column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.1rem;
    font-family: var(--font-primaria);
}

.titulo-destaque { 
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    text-align: justify;
    font-size: 1.25rem;
    font-family: var(--font-secundaria);

}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 20px;
    color: var(--cor-secundaria);
    background-color: #bdd1de;
    text-align: center;
    font-family: var(--font-secundaria);
    font-family: 24px;
    font-weight: 400;
}

.recomendacoes {
    padding: 10% 5% 5% 10%;
    align-items: center; 
    justify-content: space-between;
    
}

.recomendacoes__idades {
    width: 600px;
    display: flex;
    flex-direction:row;
    gap: 170px;

}

.recomendacoes__criancas__titulo {
    font-size: 1.56rem;
    display: flex;
    justify-content: center; 
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--cor-secundaria);
    
    
}

.recomendacoes__criancas__conteudo {
    text-align:justify;
    font-size: 1.25rem;        
    font-family: var(--font-secundaria);   
    gap: 30px;          
    
}

.recomendacoes__adultos__titulo {
    font-size: 1.56rem;
    display: flex;
    justify-content: center; 
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--cor-secundaria);
}

.recomendacoes__adultos__conteudo {
    text-align:justify;
    font-size: 1.25rem;
    font-family: var(--font-secundaria);
  
}

.recomendacoes__idosos__titulo {
    font-size: 1.56rem;
    display: flex;
    justify-content: center; 
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--cor-secundaria);
}

.recomendacoes__idosos__conteudo {
    text-align:justify;
    font-size: 1.25rem;
    font-family: var(--font-secundaria);
}


.referencias {
    padding: 10% 5% 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.referencias_geral {
    width: 600px;
    display: flex;
    flex-direction:column;
    gap: 15px;
    
}
.referencias_conteudo1 {
    display: flex;
    justify-content: center; 
    gap: 16px;
    
    width: 1450px;
    text-align: center;
    
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--cor-secundaria);
    
}

.referencias_conteudo2 {
    display: flex;
    justify-content: center; 
    gap: 16px;
    width: 1050px;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family:var(--cor-secundaria);
    
}


.recomendacoes__criancas__titulo:hover {
    background-color: var(--cor-hover);
}

.recomendacoes__adultos__titulo:hover {
    background-color: var(--cor-hover);
}

.recomendacoes__idosos__titulo:hover {
    background-color: var(--cor-hover);
}

.referencias_conteudo1:hover {
    background-color: var(--cor-hover);
}

.referencias_conteudo2:hover {
    background-color: var(--cor-hover);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    .recomendacoes {
        flex-direction: column;
    }
}